.kotak {
	background-color: lavender;
	width: 200px;
	height: 200px;
	margin: 5px;
	float: left;
	border-radius: 5px;
}

.center {
	line-height: 200px;
	text-align: center;
}

.clear {
	clear: both;
}
